body {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    background-color: #5988FF;
    animation: color-change 5s infinite;
    color: #FFFFFF;
    margin: 20px;
    padding: 20px;
}
@keyframes color-change {
    0% { color: #D6FF6B; }
    50% { color: #FD98FB; }
    100% { color: #D6FF6B; }
}

h3 { color: #D6FF6B; font-size: 22px; }
h4 { color: #FD98FB; font-size: 18px; }
h5 { color: #FFFFFF; font-size: 16px; }
h6 { color: #D6FF6B; font-size: 14px; }

p {
    font-size: 16px;
    line-height: 1.6;
    color: #FFFFFF;
}

ul {
    color: #FFFFFF;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

img.flip-horizontal-bottom {
    width: 1000px;
    height: 500px;
    display: block;
    margin-top: 20px;
    border-radius: 8px;
}

iframe {
    margin-top: 20px;
    border-radius: 8px;
    width: 1000px;
    height: 500px;
}
